
.restock{
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif ;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  width: 1000px;
  height: 40px;
}
table, th, td {
border: 1px solid;
table-layout: fixed;
width: 100%;
border-collapse: collapse;
border: 3px solid purple;
}
.input{
  font-size: x-large;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.button{
background-color: #000000;
border: black;
color: white;
display: inline-block;
font-size: x-large;
cursor: pointer;
}
